//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 08 05 14:19:05 2023

IO_LOC "B_out" D14;
IO_PORT "B_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "G_out" B14;
IO_PORT "G_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "R_out" B12;
IO_PORT "R_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "B_down" T2;
IO_PORT "B_down" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "G_down" D7;
IO_PORT "G_down" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "R_down" C7;
IO_PORT "R_down" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "B_up" N9;
IO_PORT "B_up" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "G_up" N6;
IO_PORT "G_up" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "R_up" A11;
IO_PORT "R_up" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rst" T10;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk" H11;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
